<div class="toolbar h-16 bg-slate-900 flex items-center text-white px-4 py-2">
  <span>NG Balloon Pop</span>
</div>
<main role="main">
  <div class="game-container">
    <div *ngIf="!gameOver(); else refElse">
      <div class="flex gap-4">
        <div *ngFor="let i of balloons">
          <app-balloon (balloonMissed)="handleBalloonMissed($event)" (balloonPopped)="handleBalloonPop($event)"
            [balloon]="i"></app-balloon>
        </div>
      </div>
      <div class="text-2xl font-bold flex gap-4 justify-center">
        <span>Score: {{score}}</span>
        <span class="text-red-600" *ngIf="missed()">Missed: {{missed()}}</span>
      </div>
    </div>
    <ng-template #refElse>
     <section class="flex flex-col gap-10">
      <div class="text-3xl text-center">
        <span>Game Over</span>
      </div> <div class="text-2xl font-bold flex gap-4 justify-center">
        <span>Score: {{score}}</span>
      </div>
      <button  (click)="startGame()" class="rounded-md px-2 py-1.5 bg-purple-900 text-white cursor-pointer">
        restart
      </button>

     </section>
    </ng-template>
  </div>
</main>
